<div class="row">
  <% @bookings.each do |booking|%>
  <div class="col s12 m4 l4">
    <div class="card medium">
      <div class="card-image">
        <%= image_tag booking.event.image_url(:landing) %>
        <span class="card-title card-panel cyan lighten-1"><%=booking.event.title %></span>
      </div>
      <div class="card-content">
        <%= booking.show_ticket_types %>
      </div>
      <div class="card-action">
        <%= link_to content_tag(:i, "", class: "fa fa-print") + "Print", print_path(booking.id), class: "left"%>
        <%= link_to content_tag(:i, "", class: "fa fa-floppy-o") + "Download", download_path(booking.id), {class: "right", target: "_blank"}%>
      </div>
    </div>
  </div>
  <% end %>
</div>
