<div>
  <% content_for :nav_cat do %>
        <li class="teal darken-3">
          <div class="row our-image-cover">
            <div class="col l12 m12 s12">
              <%= link_to root_path do %>
                <h3 class="header home_app_title">EventX</h3>
              <% end %>
           </div>
          </div>
        </li>
        <li class="bold"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> My Events</a>

        </li>
        <li class="bold"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Attending Events</a>
        </li>
        <li class="bold active"><%= link_to content_tag(:i, "", class: "mdi-image-palette") + "Tickets", tickets_path, class: "waves-effect waves-cyan" %>
        </li>
        <li class="bold"><a href="app-email.html" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Account Details </a>
        </li>
        <li class="li-hover">
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="sample-chart-wrapper">
                <div class="ct-chart ct-golden-section" id="ct2-chart"></div>
              </div>
            </div>
          </div>
        </li>
  <% end %>
  </div>
  <div class="our-new-custom-nav">
    <%= render partial: "layouts/nav" %>
  </div>
  <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">

        <%= render partial: "layouts/sidebar"%>
          <%= render partial: "tickets"%>
    </div>
</div>
