<div class="row">
  <div class="col s12 l6 m6 offset-l3">
    <div class="card blue-grey darken-1" style="padding: 20px;
    border-radius: 0px 0px 2px 2px;">
    <div class="card-content white-text" style="padding: 20px;
    border-radius: 0px 0px 2px 2px;">
      <table border = "1">
        <thead>
          <tr>
            <th data-field="id" colspan="1"><p>Logo</p></th>
            <th data-field="name" class="left" colspan="3"><h4><%= @event.title %></h4><span class="ticket_type"><%= ticket_type %></span></a></th>
          </tr>
        </thead>
              <tbody>
                <tr>
                  <td class="left-align" colspan="1">Start Date</td>
                  <td><%= @event.start_date.strftime("%B %d, %Y") %></td>
                  <td rowspan="3" class="right-align" ><%= image_tag create_qr_code(ticket.ticket_number) %></td>
                </tr>
                <tr>
                  <td class="left-align">End Date</td>
                  <td><%= @event.end_date.strftime("%B %d, %Y") %></td>
                </tr>
                <tr>
                  <td class="left-align">Venue</td>
                  <td><%= @event.venue %></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
