// $("a[data-remote]").on("ajax:success", function(e, data, status, xhr){
//   $(this).hide();
//   $('#'+$(this).data('id')).show();
// })

$("#att").html("<%=j render partial: 'events/attend_unattend_event_button' %>")
