<div class="parallax-container" id="index-banner">
    <%= render partial: "layouts/nav" %>
  <div class="section no-pad-bot">
    <div class="container">
    <br><br>
      <h1 class="header center home_app_title">EventX</h1>
      <div class="row center">
        <h5 class="header col s12 light home_app_tag">Simple, Easy, Build it</h5>
      </div>
      <div class="row center">
        <% if can? :create, Event %>
        <%= create_event_or_login("Create Event", ["waves-effect", "waves-light btn-large",  "home_button"]) %>
        <%elsif !current_user %>
         <%= create_event_or_login("Sign up", ["waves-effect", "waves-light btn-large",  "home_button"]) %>
        <%else%>
        <%= become_a_manager("Become An Event Manager", ["waves-effect", "waves-light btn-large",  "home_button"]) %>
        <%end%>

      </div>
      <span class="hide-on-med-and-down"><br><br></span>
    </div>
  </div>
  <div class="parallax"><%= image_tag "best.jpg"%></div>
  <div class="container header center search_form l8 m8 s8 offset-s2">
    <%= render partial: "welcome/search" %>
  </div>
  <a href="#featured_events" class="alert-scroll-under"><%= image_tag("scroll_circle.svg", class: "responsive")%></a>
</div>

<div id="featured_events" class="event-section row remove-margin">
  <div class="col s12" style="padding: 0px 0px">
    <ul class="tabs">
      <li class="tab col s3">
        <%= link_to "UPCOMING", "#upcoming", class:"active our-tab-color", style:"color: #313131"  %>
      </li>
      <li class="tab col s3">
        <%= link_to "FEATURED", "#featured", class:"our-tab-color", style:"color: #313131", id:"featured_tab" %>
      </li>
      <li class="tab col s3">
        <%= link_to "POPULAR", "#popular", class:"our-tab-color", style:"color: #313131", id: "popular_tab"  %>
      </li>
    </ul>
  </div>
  <div class="col s12" id="upcoming">
    <div class="content-set">
      <div class="row scrollblock" id="upcoming_content">
        <%= render "events/events_card", events: @events %>
        <div class="row col l12 s12 m12">
        <div class="center">
          <% unless @events.count < 12 %>
            <%= link_to "SEE MORE", events_path, class: "btn-large z-depth-0 our-search-btn" %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>

  <%= render "welcome/homepage_tab", text_id: "featured", example_id: "featured_content" %>
  <%= render "welcome/homepage_tab", text_id: "popular", example_id: "popular_content" %>
</div>

<div class="near-footer">
  <h4>Create your own event</h4>

  <p>Bring people together, or turn your passion into a business.
    <br>
    EventX gives you everything you need to host your best event yet.
  </p>

    <% if can? :create, Event %>
      <%= create_event_or_login("Get Started", ["waves-effect", "btn-large bottom_btn z-depth-0"]) %>
    <% else %>
      <%= become_a_manager("Get Started", ["waves-effect", "btn-large bottom_btn z-depth-0"]) %>
    <% end %>

</div>
