  <% content_for :nav_cat do %>
    <li class="teal darken-3">
      <div class="row our-image-cover">
        <div class="col l12 m12 s12">
          <%= link_to root_path do %>
            <h3 class="header home_app_title">EventX</h3>
          <% end %>
        </div>
      </div>
    </li>

    <div class="bold" style="padding-left: 30px;"><h5> Category </h5></div>
    <li class="bold"><%= link_to "All", events_path, class:"waves-effect waves-cyan", remote: true  %>
    </li>

    <% @categories.each do |category| %>
      <li class="bold"><%= link_to "#{category.name}", events_path(category_id: category.id), class:"waves-effect", remote: true  %></li>
    <% end %>

    <li class="li-hover">
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="sample-chart-wrapper">
            <div class="ct-chart ct-golden-section" id="ct2-chart"></div>
          </div>
        </div>
      </div>
    </li>

  <% end %>

<div class="showpage-header" id="index-banner">
  <div style="background-color: #222222 !important; height: 64px;">
    <%= render partial: "layouts/nav" %>
  </div>

  <div class="event-section row remove-margin">
    <div id="left">
      <div id="sidebar">
        <%= render partial: "layouts/sidebar"%>
      </div>
    </div>

    <div id="right">
      <div class="col l9 m12 s12 our-sidenav scroller2 our-sidebar-for-eventshow">
        <div class="row our-search">
          <div class="header center search_form our-search l12 m12 s12">
            <%= render partial: "welcome/search" %>
          </div>
        </div>

        <div class="content-set" id="events">
          <%= render "events_card", events: @events %>
        </div>

      </div>
    </div>
  </div>
</div>
