<div class="create_header_background">
  <div class="creat-overlay">
    <%= render partial: "layouts/nav" %>
    <div class="container">
      <h2 class="center">Start your Event Experience
      </h2>
      <p class="center">Create it, Preview it, Publish it!</p>
    </div>
  </div>
</div>
<%= render "events/form" %>
