// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white-color: #000;

.margin-down{
  margin-top: 50px;
  padding-bottom: 20px;
  input, select{
    border: 1px solid #CCCCCC;
    background-color: #ffffff;
    outline: none;
    margin-top: 10px;
    padding: 5px;
    &:focus{
      outline: none !important;
      border-bottom-color:  #CCCCCC !important;
    }
  }
  label{
    color: #000000;
    margin-bottom: 15px !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
    span{
      color: red;
    }
  }

  textarea{
    height: inherit;
    background-color: white;
    border: 1px solid #CCCCCC;
    &:focus{
      outline: none !important;
    }
  }
  i.icon-setting{
    margin-top: 20px;
    color: #969CA7 !important;
  }
}

.location_form_padding{
  input{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px;
    padding-left: 5px;
  }
  select .browser-default, #event_category_id{
    border: 1px solid #CCCCCC !important;
    border-radius: 0px !important;
    width: 90%;
    color: $white-color; //!important;
    -webkit-appearance: none;
    display: block;
    margin-left: 13%;
    margin-right: auto;
    padding: 10px;
    //display: none !important;
    //padding: 5px;
  }
}

.file-uploader{
  border: 1px solid #CCCCCC;
  background-color: #ffffff;
  // padding: 30px;
  left: 20%;
  // position: relative;
  .inner-file-upload{
    // height: 50px;
    margin: 5%;
    padding: 15%;
    border: 2px dashed #CCCCCC;
  }
  input{
    display: none;
  }
   p {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 34%;
    font-weight: bolder;
     text-transform: uppercase;
  }
}

.row.ticket{
  display: none;
}

.setup {
  position: absolute;
  top: 10px;
  color: white;
  background-color: #969CA7;
  padding: 17px;
}

.category-select{
  position: relative;
  width: 100%;
  select{
     border: 1px solid #CCCCCC !important;
     border-radius: 0px !important;
     width: 100%;
    -webkit-appearance: none;
    display: block;
    margin-left: 5%;
    padding-left: 5px !important;
  }
  label{
    padding-left: 5%;
  }
}

.radio-select{
  label{
    padding-left: 7%;
  }
}

.map-area{
  text-align: center;
  padding: 20%;
}

.our-map{
  width: 79.33333% !important;
  margin-left: 47px !important;
}

input#event_photo_upload{
  display: none;
}

@media only screen and (min-width: 993px) {
  .our-sidebar-for-eventshow.l9 {
    padding-left: 240px !important;
    width: 100% !important;
    margin-left: 0px;
  }
}

.our-label{
  border-bottom: solid thin black;
}

.pre-our-label{
  background-color: #00BCD4;
}

.ticket{
  margin-left:4.2rem;
}

#frame {
  -ms-zoom: 0.85;
  -moz-transform: scale(0.85);
  //-moz-transform-origin: 0 0;
  -o-transform: scale(0.85);
  //-o-transform-origin: 0 0;
  -webkit-transform: scale(0.85);
  //-webkit-transform-origin: 0 0;
  display:block;
  margin-top: 20px !important;
  margin-bottom: 0px !important;
}

#popular {
  margin-left: 0px !important;
}

::-webkit-input-placeholder {
  color: rgba(101,104,109,0.8);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(101,104,109,0.8);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(101,104,109,0.8);
}

:-ms-input-placeholder {
  color: rgba(101,104,109,0.8);
}

.card-image{
 img {-webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease;
  -ms-transition:     all 0.3s ease;
  transition:         all 0.3s ease;}
  img:hover{
    transform: scale(1.1);
  }
}

.card-content  {
  span{
    color:  rgba(28, 28, 28, 0.6) !important;
    font-family: 'Roboto', sans-serif !important;
  }
  a{
    color:  rgba(28, 28, 28, 0.6) !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: large;
    font-weight: bolder;
  }
}

.our_parallax{
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center;
  position: relative;
  padding: 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  height: 100%;
  width: 100%;
  margin-top: 0px;
  // background-color: rgba(0,0,0,0.4);
}

.our-event-title{
  padding-top: 20% !important;
  font-size: 64px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400
}

.our_description_title{
  font-size: 30px;
}

.our_event_description{
  font-size: 21px;
  word-wrap: break-word;
}

.description{
  color: #5c5c5c;
  margin: 5% 0;
}

#venue{
  position: relative;
  width: 100%;
  height: 70%;
  padding: 0px !important;
  margin: 0px !important;
}


.map-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background: rgba(78, 174, 73, 0.42);
}

.btn-large.home_button{
  margin-bottom: 20px;
}

.event_staffs{
  margin-left: 8%;
  margin-top: 3%;
}
