// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body{
  height: 100%;
  width: 100%;
}

.parallax-container{
  height: inherit;
  width: 100%;
  position: relative;
  background-color: rgba(0,0,0,0.4);
}

#event{
  position: absolute;
  height: inherit;
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: rgba(0,0,0,0.4);
}

.home_app_title{
  color: #fff !important;
  text-shadow: 2px 1px 1px black;
  font-family: 'Great Vibes', cursive;
  margin:0;
}

.home_user_options{
  // top: 0;
  text-align: right;
  // position: relative;
  // padding-right: 5%
}

.home_user_options .home_sign_in_or_up{
  display: inline;
  // padding: 10px;
}

.home_user_options .home_sign_in_or_up .btn_a_tag{
  text-decoration: none;
  color: #fff;

}

.home_app_tag{
  width: 20%;
  font-size: 1.5em;
  color: #fff;
}

.btn-large.home_button{
  // width: 30%;
  font-size: 1.25em; //20px;
  border-style: solid #EED8AE;
  // border-width: 5px;
  border-radius: 6px;
  background-color: #EED8AE;
  color: #000000
}

.home_tag{
  position: relative;
  top: 12%;
  bottom: 12%;
}

.search_form {
  position: relative;
  background-color: rgba(0, 0, 0, 0.64);
  // margin: 5% 5%;
  bottom: 0 !important;

  select{
    // margin: -2px 40px;

    width: 80%;
    margin-left: 20%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid #fff;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -moz-appearance: none !important;
    text-decoration: none !important;
    border-radius: none !important;
    // border-radius: 0px !important;
    &:focus{
      outline: none;
    }

  }

  //
  // select:-moz-focusring{
  //   outline: none;
  //   border: none;
  //   color: #fff;
  //   text-shadow: 0 0 0 #000;
  // }

  button{
    // height: 40px;
    // line-height: 42px;
    // vertical-align: middle;
    // margin-bottom: 5px;
  }
}

.white_text{
  color: #fff !important;
}


.black_text{
  color: black !important;
}

input[type=text]:focus:not([readonly]){
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #EED8AE;
}

.content-set{
  margin: 40px;
}

.event-section{
  background:#F7F7F7 ;
 }

.card-shadow{
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
}

.card .card-content .card-title {
  line-height: 0px;
  width: 15px;
}

.card .card-title {
  font-size: 15px;
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 10px 20px;
}

.pointer{
  cursor: pointer;
}

.Amount{
  text-transform: uppercase;
  background-color: #EED8AE;
  font-size: 12px;
  line-height: 20px;
  color: #222;
  box-shadow: 2px 2px 2px #000;
  box-sizing: border-box;
  padding: 2px 10px;
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  z-index: 50;
}

.card .card-reveal {
  padding: 20px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  top: 100%;
  height: 100%;
  z-index: 51;
  display: none;
}



.remove-margin{
  margin: 0;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #FFE0A6;
  will-change: left, right;
}

.tabs .tab a {
  color: rgb(140, 131, 131);
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bolder;
  -webkit-transition: color 0.28s ease;
  -moz-transition: color 0.28s ease;
  -o-transition: color 0.28s ease;
  -ms-transition: color 0.28s ease;
  transition: color 0.28s ease;
}

.tabs .tab a:hover {
  color: #f9c9cb;
}


footer.page-footer {
  margin-top: 0px;
  padding-top: 20px;
  background-color: #333333;
  border-top: 5px solid #666666;
  .brand-logo{
    margin-left: 100px;
  }
  a{
    color: #666;
  }
  nav {
    color: #fff;
    background-color: #333333;
    width: 100%;
    height: 56px;
    line-height: 56px;
    border-bottom: #000000 2px solid;
  }
}


.hideme
{
  opacity:0;
}

i.when_icon{
  color: white;
  position: absolute;
  left: 5px;
}

.btn-large.bottom_btn{
  background-color: #EED8AE;
  color: #000000
}

// .btn_a_tag{
//   .white_text{
//     height: inherit !important;
//   }
// }

nav.custom_nav{
  // opacity: 0.5;
  // filter: alpha(opacity=50);
  // background-color: rgba(0,0,0,.1);
  // background-color: transparent !important;
  background-color: rgba(0, 0, 0, 0.0);
  // opacity: 0.0;
  width: 100%;
  color: white !important;
  top: 0;
  position: absolute;
   //filter: alpha(opacity=50);
}

.sso_option .btn{
  width: 100% !important;
  // font-size: 65%;
}

.profile_pic.circle{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border: solid 3px rgba(255,255,255, 0.6);
}
.our-center{
  margin:0 auto !important;
}

.alert-scroll-under{
  display: inline-block;
  vertical-align: middle;
  height: 2%;
  width: 2%;
  // background-image: url("<%= image_path('scroll_circle.svg')%>");
  background-position: 0 -1865px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 15;
  // bottom: 2.625rem;
  bottom: 2.625rem;
  left: 50%;
  margin-left: -0.375rem;
}

.drop{
  color: #6B5936;
}
